.WildPokemon {
    margin: 0 auto;
    text-align: center;
}

.WildPokemon-header {
    margin: 0 auto;
    width: 83%;
}

.back-btn {
    display: block;
    background-color: #3d7dca;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px !important;
    width: 40px !important;
    text-align: center !important;
    margin: 0 auto;
    box-shadow: 2px 2px 5px #88888862;
}

@media only screen and (max-width: 415px) {

    .WildPokemon-header {
        margin: 0 auto;
    }
}
