.PokemonCard {
    background-color: #ffcb05;
    border-radius: 8px;
    border: 5px solid #3d7dca;
    box-sizing: border-box;
    color: #003a70;
    width: 20%;
    display: inline-block;
    height: 225px;
    margin: 5px;
    position: relative;
}

.PokemonCard:hover {
    border-color: #003a70;
}
  
.PokemonCard-img {
width: 125px;
position: absolute;
top: 30px;
}

.PokemonCard-front {
display: flex;
justify-content: center;
position: relative;
}

.PokemonCard-name {
margin: 0;
font-weight: bold;
font-style: italic;
position: absolute;
top: 157px;
font-size: 1.5rem;
}

.catch-btn {
    position: absolute;
    top: 185px;
}

.catch-form {
    position: absolute;
    top: 185px;
    left: 10px;
}

.PokemonCard-details {
    position: absolute;
    top: 0;
}

.flip {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    margin: 0;
    z-index: 99;
    color: #3d7dca;
}

.flip:hover {
    cursor: pointer;
    color:#003a70;
}

.pName-input {
    font-size: 12px;
    margin-right: 2px;
}

@media only screen and (max-width: 415px) {

    .PokemonCard {
        width: 100%;
    }

    .catch-form {
        left: 55px;
    }
}
